
:root
{
    --font-family: sans-serif;
    --default-fg-color: #000000;
    --body-bg-color: #f8f8f8;
}
*
{
    display: flex;
    box-sizing: border-box;
}
html
{
    width: 100%;
    height: 100%;
}
body
{
    display: initial;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 50px;
    overflow: hidden;
    color: var(--default-fg-color);
    background-color: var(--body-bg-color);
    font-family: var(--font-family);
}
#all
{
    height: 100%;
    flex-direction: column;
}
#header
{
    height: 50px;
    background-color: blue;
}
#main
{
    flex: 1;
    xbackground-color: red;
}
#footer
{
    height: 50px;
    background-color: yellow;
}
#left
{
    width: 300px;
    flex-direction: column;
    xbackground-color: green;
}
#right
{
    flex: 1;
    flex-direction: column;
    xbackground-color: orange;
}
#channels-container
{
    position: relative;
    min-height: 200px;
    margin: 10px 10px 10px 0;
    padding-top: 30px;
    background-color: white;
    border: 1px solid black;
    border-radius: 14px;
}
#channels
{
    width: 100%;
    flex-direction: column;
}
#nodes-container
{
    position: relative;
    flex: 1 1 0px;
    overflow: hidden;
    margin: 0 10px 10px 0;
    background-color: white;
    border: 1px solid black;
    border-radius: 14px;
}
#nodes
{
    flex-direction: column;
    overflow: scroll;
}
#channels-container .title,
#nodes-container .title
{
    position: absolute;
    top: -1px;
    right: -1px;
    padding: 6px 14px;
    border: 1px solid black;
    border-top-right-radius: 14px;
    border-bottom-left-radius: 14px;
    background-color: white;
    z-index: 1;
}
#texts
{
    flex: 1 1 0px;
    overflow: scroll;
    flex-direction: column;
    margin: 10px;
    xbackground-color: cadetblue;
}
#post
{
    height: 50px;
    background-color: yellowgreen;
}
.channel
{
    padding: 4px;
}
.channel.selected
{
    background-color: lightgray;
}
.channel .n
{
    display: block;
}
.channel .t {
    display: block;
    font-size: 16px;
    font-weight: bold;
}
.channel .s {
    display: block;
    font-size: 10px;
}
.channel .unread {
    flex: 1;
    justify-content: right;
}
.node
{
    position: relative;
    padding: 4px;
}
.node .s
{
    width: 50px;
    height: 50px;
    margin: 5px;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    font-size: 14px;
}
.node .m
{
    display: block;
    flex: 1;
    margin: auto 0;
    padding-left: 4px;
}
.node .m .l
{
    font-weight: bold;
    font-size: 16px;
}
.node .m .r
{
    font-size: 14px;
}
.node .m .t
{
    font-size: 13px;
}

.text
{
    position: relative;
    margin: 4px;
}
.text.right
{
    flex-direction: row-reverse;
}
.text .s
{
    width: 46px;
    min-width: 46px;
    height: 46px;
    margin: auto 0;
    font-size: 12px;
    border-radius: 23px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: lightgray;
}
.text .c
{
    max-width: 80%;
    flex-direction: column;
    margin: auto 0 auto 0;
}
.text.right .c
{
    margin: auto 0 auto auto;
}
.text .l
{
    font-size: 10px;
    padding-left: 6px;
}
.text.right .l
{
    justify-content: flex-end;
    padding-left: 0;
    padding-right: 6px;
}
.text .t
{
    border: 1px solid black;
    margin: 2px auto 2px 6px;
    padding: 8px 10px;
    border-radius: 14px;
    background-color: white;
}
.text.right .t
{
    margin: 2px 6px 2px auto;
}
.text .logo
{
    top: calc(50% - 28px);
    left: -2px;
}
.text.right .logo
{
    left: auto;
    right: -2px;
}

.logo
{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: white;
    background-position: center center;
    background-repeat: no-repeat;
    border: 1px solid white;
    border-radius: 10px;
}
.meshtastic .logo
{
    background-color: #3cda83;
    background-image: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="0 0 185 185" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><g transform="matrix(0.1,0,0,-0.1,0,185)"><path d="M556,976C454,825 370,698 370,693C370,685 421,650 433,650C440,650 810,1197 810,1207C810,1215 759,1250 747,1250C745,1250 659,1127 556,976Z" style="fill-rule:nonzero;"/><path d="M1098,1238C1085,1227 969,1060 762,753L720,691L756,670C775,658 792,649 794,651C795,653 836,714 885,785C934,857 1007,964 1048,1023L1122,1131L1202,1013C1246,948 1321,840 1367,772L1452,649L1483,669C1501,681 1514,695 1512,701C1506,726 1149,1238 1134,1244C1114,1252 1116,1252 1098,1238Z" style="fill-rule:nonzero;"/></g></svg>') !important;
}
.aredn .logo
{
    background-color: white;
    background: url('data:image/svg+xml,<svg width="100%" height="100%" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;"><g transform="matrix(7.64752,0,0,7.20085,-9.83128,-114.581)"><rect x="1.271" y="15.89" width="2.644" height="2.811" style="fill:white;"/></g><g transform="matrix(0.334205,0,0,0.332304,1.97909,2.0247)"><xrect id="Artboard1" x="0" y="0" width="48" height="48" style="fill:none;"/><path d="M24.567,0.82L47.363,23.568" style="fill:none;stroke:rgb(0,217,255);stroke-width:1px;"/><path d="M23.849,0.93L7.348,39.991" style="fill:none;stroke:rgb(0,217,255);stroke-width:1px;"/><path d="M24.126,0.925L24.033,47.07" style="fill:none;stroke:rgb(0,217,255);stroke-width:1px;"/><path d="M24.121,0.811L40.726,40.248" style="fill:none;stroke:rgb(0,217,255);stroke-width:1px;"/><path d="M7.502,40.382L40.302,40.682" style="fill:none;stroke:rgb(0,217,255);stroke-width:1px;"/><path d="M7.454,40.172L47.099,24.086" style="fill:none;stroke:rgb(0,217,255);stroke-width:1px;"/><path d="M7.32,40.114L40.182,7.488" style="fill:none;stroke:rgb(0,217,255);stroke-width:1px;"/><path d="M40.56,7.604L24.305,46.794" style="fill:none;stroke:rgb(0,217,255);stroke-width:1px;"/><path d="M40.782,7.801L40.988,39.78" style="fill:none;stroke:rgb(0,220,255);stroke-width:1px;"/><path d="M8.318,7.309L40.07,7.239" style="fill:none;stroke:rgb(255,0,0);stroke-width:1px;"/><path d="M7.138,8.344L7.252,39.601L7.255,40.184" style="fill:none;stroke:rgb(255,0,0);stroke-width:1px;"/><path d="M7.554,8.033L23.784,46.998" style="fill:none;stroke:rgb(255,0,0);stroke-width:1px;"/><path d="M7.649,7.62L40.541,40.106" style="fill:none;stroke:rgb(255,0,0);stroke-width:1px;"/><path d="M7.83,7.324L47.123,23.459" style="fill:none;stroke:rgb(255,0,0);stroke-width:1px;"/><path d="M0.734,23.771L46.787,23.815" style="fill:none;stroke:rgb(170,170,170);stroke-width:1px;"/><g transform="matrix(0.991315,0.00364933,0.00364933,0.998467,-0.0861935,0.0362179)"><path d="M0.94,23.433L40.941,7.234" style="fill:none;stroke:rgb(170,170,170);stroke-width:1px;"/></g><path d="M0.667,23.937L40.714,40.079" style="fill:none;stroke:rgb(170,170,170);stroke-width:1px;"/><path d="M0.688,24.263L23.773,47.352" style="fill:none;stroke:rgb(170,170,170);stroke-width:1px;"/><path d="M0.957,23.277L23.631,0.846" style="fill:none;stroke:rgb(170,170,170);stroke-width:1px;"/><g transform="matrix(2.76129,0,0,2.02808,-25.198,-18.9245)"><path d="M17.836,9.563L23.863,12.954L26.36,21.14L23.863,29.326L17.836,32.716L11.808,29.326L9.312,21.14L11.808,12.954L17.836,9.563Z" style="fill:none;stroke:rgb(89,89,89);stroke-width:0.41px;"/></g></g></svg>') !important;
}
